# BEGIN W3TC Minify cache
Options -MultiViews
<IfModule mod_mime.c>
    AddEncoding gzip .gzip
    <Files *.css.gzip>
        ForceType text/css
    </Files>
    <Files *.js.gzip>
        ForceType application/x-javascript
    </Files>
</IfModule>
<IfModule mod_deflate.c>
    <IfModule mod_setenvif.c>
        SetEnvIfNoCase Request_URI \.gzip$ no-gzip
    </IfModule>
</IfModule>
<IfModule mod_headers.c>
    Header set Vary "Accept-Encoding"
</IfModule>
# END W3TC Minify cache
